@using TestResultRepoModels

@{
    ViewBag.Title = "All";
}

<h2>
    <a href="/">TestRuns</a>
</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Category</th>
        <th>Result</th>
        <th>Passed</th>
        <th>Failed</th>
    </tr>
    @foreach (var testRun in ViewBag.testRuns as ICollection<TestRun>)
    {
    <tr>
        <td>
            <a href="?id=@testRun._Id">@testRun.Name</a>
        </td>
        <td>@testRun.StartTime</td>
        <td>@testRun.Category</td>
        <td>@testRun.Result</td>
        <td>@testRun.Passed</td>
        <td>@testRun.Failed</td>
    </tr>
    }
</table>

