@using TestResultRepoWebSite.Models

@{
    List<List<TestCaseFailure>> groupedFailures = Model;
}

<div id="commonErrorMessages">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Most common error messages</h1>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap">
        <div style="width: 100%;">
            @{
                foreach (List<TestCaseFailure> group in groupedFailures)
                {
                    Guid idGuid = Guid.NewGuid();
                    <div class="failureGroupCard">
                        <div id="@("accordion_" + idGuid)">
                            <div class="card text-white">
                                <div class="card-header d-flex flex-row bg-danger" id="@("heading_" + idGuid)" data-toggle="collapse" data-target="@("#collapse_" + idGuid)" aria-expanded="true" aria-controls="@("#collapse_" + idGuid)">
                                    <div class="truncate ">
                                        <div>@group.FirstOrDefault().Failure.Message</div>
                                    </div>
                                    <span class="badge badge-primary ml-auto">@group.Count</span>
                                </div>
                                <div id="@("collapse_" + idGuid)" class="collapse" aria-labelledby="@("heading_" + idGuid)" data-parent="@("#accordion_" + idGuid)">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            @foreach (TestCaseFailure failure in group as ICollection<TestCaseFailure>)
                                            {
                                                Html.RenderAction("RenderViewFromTestCase", "TestCaseCard", new { testCase = failure.TestCase, showDate = true });
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
